
{% import '@pcc-components/component.twig' as component %}
{% do attach_library('pcc/derp') %}

<div {{ component.attributes('c-derp', modifiers, attr) }}>
  {{ content }}
</div>


{#Include this snippet in the drupal twig template.#}
{#{%#}
{#  include '@pcc-components/derp/derp.twig' with {#}
{#    attr: attributes.addClass(classes),#}
{#    content: content,#}
{#  } only#}
{#%}#}