
{% import '@pcc-components/component.twig' as component %}
{% do attach_library('pcc/deee') %}

<div {{ component.attributes('c-deee', modifiers, attr) }}>
  {{ content }}
</div>


{#Include this snippet in the drupal twig template.#}
{#{%#}
{#  include '@pcc-components/deee/deee.twig' with {#}
{#    attr: attributes.addClass(classes),#}
{#    content: content,#}
{#  } only#}
{#%}#}